body {
  margin: 20px;
  color: #2b2839;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  border-bottom: 5px solid #d8cefe;
  background: #ddebf8;
}

.avatar {
  width: 200px;
}

.wrapper-circle {
  display: flex;
  justify-content: space-evenly;
}

.circle {
  height: 150px;
  width: 150px;
  background: #d8cefe;
  border-radius: 100%;
  /* margin: 10px auto; */
  margin: 10px 0;
}